
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <application
        android:name=".TripMateApp"
        android:label="TripMate"
        android:theme="@style/Theme.TripMate">

        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.auth.LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" android:exported="false" />

        <activity android:name=".ui.plan.TripFormActivity" android:exported="false" />
        <activity android:name=".ui.community.PostFormActivity" android:exported="false" />
        <activity android:name=".ui.profile.ProfileEditActivity" android:exported="false" />
    </application>
</manifest>
